.modal-form {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: #212121;
}

.form-field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;

    position: relative;
    margin-bottom: 10px;

    &-comment {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            align-items: flex-start;
            margin-bottom: 20px;
        }
    
    &:focus-within .form-icon {
            fill: var(--brend-color);
        }
    
    &:hover,
    &:focus {
            fill: var(--brend-color);
        }

}


.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    color: #757575;
    margin-bottom: 4px;
}

.form-input {
    width: 448px;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0;
    padding-left: 42px;
    outline: transparent;
    cursor: pointer;
    transition: border 250ms var(--fost-anim);

    &:hover,
    &:focus {
        border: 1px solid #2196F3;
    
        }
}


.form-icon {
    position: absolute;
    top: 70%;
    left: 12px;
    transform: translateY(-70%);
}

.form-comment {
    resize: none;
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    font-size: 12px;
    line-height: 1.16;

    color: rgba(117, 117, 117, 0.5);
    padding: 12px 16px;

    &:hover,
    &:focus {
         border: 1px solid var(--brend-color)
        }

}

.form-check {
    margin-bottom: 30px;
}

.form-policy {
    display: flex;
    align-items: center;
    justify-content: center;

}



.form-checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    margin-right: 9px;
    outline: 2px solid var(--title-text-color);
    outline-offset: -2px;
    border-radius: 2px;
    transition: background-color var(--slow-anim) var(--fost-anim),
        outline var(--slow-anim) var(--fost-anim);

    &:focus .form-checkbox {
            border: 1px solid var(--brend-color)
        }

}

.form-checkbox:checked+.form-checkbox-icon {
    background-color: var(--brend-color);
    outline: 2px solid var(--brend-color);
}

.form-icon-check {
    opacity: 0;

    transition: opacity var(--slow-anim) var(--fost-anim);
}

.form-checkbox:checked+.form-checkbox-icon .form-icon-check {
    opacity: 1;
}

.form-check-policy {
    font-size: 14px;
    line-height: 1.71;

    color: #757575;
}

.terms {
    font-size: 14px;
    line-height: 1.71;
    color: #2196F3;
}


.submit {
    width: 200px;
    height: 50px;
    padding: 10px 55px;
    color: #FFFFFF;
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;

    cursor: pointer;
    margin-left: auto;
    margin-right: auto;

    &:hover,
    &:focus {
        background-color: #1976d2;
        }

}

